.invalid-feedback {
  animation: animate-message-error 0.5s;
}

@keyframes animate-message-error {
  from {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.invalid-tooltip {
  position: static;
}
