h1{
    font-family: var(--title-font);
    font-size: var(--h1-font-size);
    color: var(--text-title-color);
    font-weight: 500;
}

p{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-title-color);
}

.heart-container{
    background-color: var(--first-color-dark);
    min-width: 400px;
    max-width: 400px;
    max-height: 400px;
    padding: 20px 0;
}

.home-content{
    margin-top: 8vh;
}

.heart-img{
    width: 300px;
    height: 360px;
    display: block;
    margin: 0 auto;
}

.developers{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: #162D8D;
}

ul li{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    list-style-type: none;
    color: var(--first-color);
}

