.login-outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.login-middle {
  display: table-cell;
  vertical-align: middle;
}

.login-inner {
  margin-left: auto;
  margin-right: auto;
  width: 349px;
}

.logo-img {
  width: 285px;
  margin: 1.5rem auto 1.5rem;
  display: none;
}

.login-img img {
  width: 349px;
  margin-top: 1.5rem;
}

.login-forms {
  position: relative;
  height: 368px;
  width: 348px;
}

.login {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  background-color: var(--first-color);
  padding: 2rem 1rem;
  border-radius: 40px;
  text-align: center;
  box-shadow: 3px 3px 8px 5px rgb(0 0 0 / 25%);
  animation-duration: 0.4s;
  animation-name: animate-login;
}

@keyframes animate-login {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.login.invalid {
  outline: 0;
  border-color: red;
  animation-name: bounce;
  animation-duration: 0.3s;
  animation-delay: 0.25s;
}

@keyframes bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}

.login-title {
  font-family: var(--title-font);
  font-size: var(--h1-font-size);
  color: #fff;
  margin: 0 0 2rem;
}

.login-box {
  display: grid;
  column-gap: 0.5rem;
}

.login-input {
  border: none;
  font-weight: 700;
  background-color: #fff;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 1.125rem 1rem;
  outline: none;
}

.login-input.invalid {
  outline: 3px solid #ff0000;
}

.login-input::placeholder {
  font-size: var(--normal-font-size);
}

.error-info-div {
  display: none;
}

.error-info-div.show-message {
  display: block;
}

.valitation-message {
  color: #ffffff;
  margin-left: 2.5%;
  margin-bottom: 2.5%;
  text-align: left;
  font-size: 14px;
}

.show-message p {
  animation: animate-error-message 0.5s;
}

@keyframes animate-error-message {
  from {
    opacity: 0;
    transform: translate3d(25px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.login-button {
  display: block;
  padding: 1rem;
  margin: 1rem 0;
  background-color: var(--second-color);
  color: #fff !important;
  font-weight: 600;
  text-align: center;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.login-button:hover {
  background-color: var(--second-color-light);
}

@media screen and (min-height: 768px) {
  .logo-img {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .login-forms {
    width: 415px;
  }

  .login-inner {
    display: flex;
    width: 1049px;
  }
  .login-img {
    display: flex;
    width: 700px;
    height: 588px;
    background-color: #f1f1f1;
    border-radius: 40px;
    padding-left: 1rem;
    box-shadow: 3px 3px 8px 5px rgb(0 0 0 / 25%);
    margin-left: 6rem;
  }

  .login-img img {
    width: 390px;
    margin-top: 0;
  }

  .login {
    left: -9rem;
    bottom: -6.8rem;
  }
}
