.login-outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.login-middle {
  display: table-cell;
  vertical-align: middle;
}

.login-inner {
  margin-left: auto;
  margin-right: auto;
  width: 349px;
}

.logo-img {
  width: 285px;
  margin: 1.5rem auto 1.5rem;
  display: none;
}

.login-img img {
  width: 349px;
  margin-top: 1.5rem;
}

.login-forms {
  position: relative;
  height: 368px;
  width: 348px;
}

.login {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  background-color: var(--first-color);
  padding: 2rem 1rem;
  border-radius: 40px;
  text-align: center;
  box-shadow: 3px 3px 8px 5px rgb(0 0 0 / 25%);
  animation-duration: 0.4s;
  animation-name: animate-login;
}

@keyframes animate-login {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.login-title {
  font-family: var(--title-font);
  font-size: var(--h1-font-size);
  color: #fff;
  margin: 0 0 2rem;
}

.login-box {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 0.5rem;
  padding: 1.125rem 1rem;
  background-color: #fff;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.login-input {
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  font-weight: 700;
}

.login-input::placeholder {
  font-size: var(--normal-font-size);
}

.login-button {
  display: block;
  padding: 1rem;
  margin: 2rem 0;
  background-color: var(--second-color);
  color: #fff !important;
  font-weight: 600;
  text-align: center;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.login-button:hover {
  background-color: var(--second-color-light);
}

@media screen and (min-height: 768px) {
  .logo-img {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .login-forms {
    width: 415px;
  }

  .login-inner {
    display: flex;
    width: 1049px;
  }
  .login-img {
    display: flex;
    width: 700px;
    height: 588px;
    background-color: #f1f1f1;
    border-radius: 40px;
    padding-left: 1rem;
    box-shadow: 3px 3px 8px 5px rgb(0 0 0 / 25%);
    margin-left: 6rem;
  }

  .login-img img {
    width: 390px;
    margin-top: 0;
  }

  .login {
    left: -9rem;
    bottom: -6.8rem;
  }
}
