.rbt-aux {
  align-items: center;
  display: flex;
  bottom: 0;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 34px;
}

.modal-dialog {
  animation: modal-animation 0.5s;
}

@keyframes modal-animation {
  from {
    opacity: 0;
    transform: translate3d(0, 25px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
