.footer-main-page {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--first-color);
  height: 15vh;
  align-items: center;
  display: flex;
}

.footer-text {
  font-size: 14px;
  font-family: var(--body-font);
  color: #efefef;
  margin: 0;
}

.github {
  width: 30px;
}
