.medico-table {
  text-align: center;
}

.medico-table .crm,
.medico-table .doctor-type,
.medico-table .titulation {
  width: 11rem;
}

.medico-table .gender {
  width: 10rem;
}

tr:hover{
  cursor: pointer;
}
